*{
    margin: 0%;
}
div{
    display: inline-block;
    font-size: 70px;
    background-color: green;
    width: 80px;
    height: 80px;

}
.div1{
    display: inline-block;
    font-size: 70px;
    background-color: rgb(255, 255, 237);
    width: 80px;
    height: 80px;

}
.div2{
    width: 80px;
    height: 80px;
    background-color:rgb(255, 255, 237) ;
}
.div3{
    width: 80px;
    height: 80px;
    background-color: green;
}
span:hover{
    color: white;
}
